@{
    var id = ViewBag.POt;
} 
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers

<div class="modal fade" id="reviewModalBank" tabindex="-1" role="dialog" style="z-index: 1400;" data-backdrop="static">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="defaultModalLabel">إرسال الرد </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form class="" id="formEditBankForm" asp-controller="CasesTracking" asp-action="UploadAnswerForBankPost"  enctype="multipart/form-data" method="post">
                        <div class="modal-body">

                        <div class="form-group mb-3">
                        <label for="customFile">اختر ملف</label>
                         <input type="text" name="id" value="@id" hidden>
                        <div class="custom-file">
                            <input type="file" name="file"  class="custom-file-input" id="file">
                            <label class="custom-file-label" for="customFile">ارفاق ملف</label>
                        </div>
                       </div>

                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">اغلاق</button>
                            <button type="submit" class="btn btn-primary">حفظ التعديلات</button>
                        </div>
                    </form>
                    @*@using (Html.BeginForm("EditCaseForm", "CasesTracking", new { enctype = "multipart/form-data" }, FormMethod.Post, true, new { @id = "formEditCaseForm" }))
                    {
               
                    }*@
                </div>
            </div>
        </div>
<div class="modalfileform"></div>
