@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Pages/Shared/_LoginLayout.cshtml";

}
<link href="~/css/sweetalert/sweetalert.css" rel="stylesheet">
@using (Html.BeginForm("NewPassword", "Forget", new { area = "" }, FormMethod.Post, true, new { @id = "LoginForm", @class = "col-lg-3 col-md-4 col-10 mx-auto text-center", @role = "form" }))
{
<a class="navbar-brand mx-auto mt-2 flex-fill text-center" href="#">
    @*<svg version="1.1" id="logo" class="navbar-brand-img brand-md" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 120 120" xml:space="preserve">
    <g>
    <polygon class="st0" points="78,105 15,105 24,87 87,87 	" />
    <polygon class="st0" points="96,69 33,69 42,51 105,51 	" />
    <polygon class="st0" points="78,33 15,33 24,15 87,15 	" />
              </g>
            </svg>*@
    <img id="logo" class="navbar-brand-img brand-md" src="~/logo/Group54387.svg" />
</a>
    <h1 class="h6 mb-3">الرقم السرى الجديد</h1>
      @Html.ValidationSummary(false, "", new { @class = "text-danger" })

    <div class="form-group">
      <input value="@ViewBag.UserId" id="UserId" name="UserId" hidden type="hidden" />
        <label for="inputEmail" class="sr-only"> الرقم السرى الجديد</label>
        <input type="password" name="Password" id="email" class="form-control form-control-lg req" placeholder="الرقم السرى الجديد" required="" autofocus="">
    </div> 
    <div class="form-group">
      <input value="@ViewBag.UserId" id="UserId" name="UserId" hidden type="hidden" />
        <label for="inputEmail" class="sr-only"> تأكيد الرقم السرى الجديد</label>
        <input type="password" name="ConfirmPassword" id="email" class="form-control form-control-lg req" placeholder="تأكيد الرقم السرى الجديد" required="" autofocus="">
    </div>
  

    <button class="btn btn-lg btn-primary btn-block" type="submit">تم</button>
    <p class="mt-5 mb-3 text-muted">© 2022 All Rights Reserved. By <a href="http://www.fairsolutions-fsc.com/" target="_blank">Fair-solutions</a></p>





}


@section Scripts {
    <!-- Sweet alert -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.min.js" integrity="sha384-qlmct0AOBiA2VPZkMY3+2WqkHtIQ9lSdAsAn5RUJD/3vA5MKDgSGcdmIv4ycVxyn" crossorigin="anonymous"></script>

    <script src="~/js/sweetalert/sweetalert.min.js"></script>


}




