@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using MyEnquiry_BussniessLayer.ViewModel
@{
    ViewData["Title"] = "فواتير البنوك";

    Layout = "~/Pages/Shared/_Layout.cshtml";

}
<link href="~/css/sweetalert/sweetalert.css" rel="stylesheet">
<link rel="stylesheet" href="~/dark-rtl/css/select2.css">

<link rel="stylesheet" href="~/dark-rtl/css/dataTables.bootstrap4.css">

<div class="container-fluid">
    <div class="row justify-content-center">



        <div class="col-lg-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="card shadow mb-4">
                        <div class="card-header">

                            <strong class="card-title">فواتير البنوك</strong>
                        </div>
                        <div class="card-body">
                            <div class="dispaly">



                            </div>
                        </div> <!-- /. card-body -->
                    </div> <!-- /. card -->
                </div> <!-- /. col -->
            </div> <!-- /. end-section -->

        </div>

    </div>
</div>
<div class="disfiles"></div>


@section Scripts {


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.min.js" integrity="sha384-qlmct0AOBiA2VPZkMY3+2WqkHtIQ9lSdAsAn5RUJD/3vA5MKDgSGcdmIv4ycVxyn" crossorigin="anonymous"></script>
    <script src='~/dark-rtl/js/jquery.dataTables.min.js'></script>
    <script src='~/dark-rtl/js/dataTables.bootstrap4.min.js'></script>

    <script src="~/js/sweetalert/sweetalert.min.js"></script>

    <script src="~/js/cutompages/Bills.js"></script>

    <script>
    $(document).ready(function () {



		var id = $('#Vale').val();

		$.ajax({
			url: "/Bills/DisplayGrid2",
			cache: false,
			type:'Get',
			data: { Id: id },
			success: function (html) {
				$(".dispaly54").html(html);
				$('#dataTable-3').DataTable(
					{
						autoWidth: true,
						"lengthMenu": [
							[10, 20, 40, -1],
							[10, 20, 40, "All"]
						]
					});
			}

		})
	
})
</script>
}
