@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";

}
<link href="~/css/sweetalert/sweetalert.css" rel="stylesheet">
<link rel="stylesheet" href="~/dark-rtl/css/dataTables.bootstrap4.css">

<div class="container-fluid">
    <div class="row justify-content-center">

        <div class="col-lg-4">

            <div class="row">
                <div class="col-md-12">
                    <div class="card shadow mb-4">
                        <div class="card-header">
                            <strong class="card-title">إضافة الشركة</strong>
                        </div>
                        <div class="card-body">

                            @using (Html.BeginForm("Add", "Company", new { area = "" }, FormMethod.Post, true, new { @id = "formadd" }))
                            {

                                <div class="form-group">
                                    <label for="inputAddress">اسم الشركة باللغة العربيه</label>
                                    @Html.TextBox("NameAr", "", new { @class = "form-control req", @type = "text", @placeholder = "برجاء كتابة اسم الشركة باللغة العربيه" })

                                </div>
                                <div class="form-group">
                                    <label for="inputAddress"> اسم الشركة باللغة الانجليزيه</label>
                                    @Html.TextBox("NameEn", "", new { @class = "form-control req", @type = "text", @placeholder = "برجاء كتابة اسم الشركة باللغة الانجليزيه" })

                                </div>
                                <div class="form-group mb-3">
                                    <label for="customFile">اختر اللوجو الخاص بالشركة</label>
                                    <div class="custom-file">
                                        <input type="file" name="Logofile" accept = "image/png, image/gif, image/jpeg"  class="custom-file-input" id="customFile">
                                        <label class="custom-file-label" for="customFile">اختر اللوجو</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="Active">نشط؟</label>
                                    @Html.CheckBox("Active", false, new { })

                                </div>

                                <button type="submit" class="btn btn-primary">اضافة</button>
                            }



                        </div> <!-- /. card-body -->
                    </div> <!-- /. card -->
                </div> <!-- /. col -->
            </div> <!-- /. end-section -->

        </div>


        <div class="col-lg-8">
            <div class="row">
                <div class="col-md-12">
                    <div class="card shadow mb-4">
                        <div class="card-header">
                            <strong class="card-title">الشركات</strong>
                        </div>
                        <div class="card-body">
                            <div class="dispalygrid">



                            </div>
                        </div> <!-- /. card-body -->
                    </div> <!-- /. card -->
                </div> <!-- /. col -->
            </div> <!-- /. end-section -->

        </div>

    </div>
</div>

<div class="disedit">

</div>

@section Scripts {


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.min.js" integrity="sha384-qlmct0AOBiA2VPZkMY3+2WqkHtIQ9lSdAsAn5RUJD/3vA5MKDgSGcdmIv4ycVxyn" crossorigin="anonymous"></script>
    <script src='~/dark-rtl/js/jquery.dataTables.min.js'></script>
    <script src='~/dark-rtl/js/dataTables.bootstrap4.min.js'></script>

    <script src="~/js/sweetalert/sweetalert.min.js"></script>

    <script src="~/js/cutompages/Companies.js"></script>


}