@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using MyEnquiry_BussniessLayer.ViewModel
@using MyEnquiry_BussniessLayer.ViewModels

@{
    var roles = (List<RoleView>)ViewBag.Roles;
}
@model ForgetPassword
<!-- Modal -->
<div class="modal fade" id="ChangePasswordUserModal" tabindex="-1" role="dialog" aria-labelledby="defaultModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="defaultModalLabel">تعديل المستخدم</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("ChangePassword", "User", new { area = "" }, FormMethod.Post, true, new { @id = "formaChangepasswordUser" }))
            {
                <div class="modal-body">

                    @Html.HiddenFor(m => m.Id)

                    <div class="form-group">
                        <label for="Email">الرقم السرى </label>
                        @Html.TextBoxFor(m=>m.Password, new { @class = "form-control reqE", @type = "Password", @placeholder = "برجاء كتابة الرقم السرى" })

                    </div>
                    <div class="form-group">
                        <label for="Phone">تأكيد الرقم السرى</label>
                        @Html.TextBoxFor(m=>m.confirmpassword, new { @class = "form-control reqE", @type = "Password", @placeholder = "برجاء تأكيد الرقم السرى" })

                    </div>
                    </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">اغلاق</button>
                    <button type="submit" class="btn btn-primary">حفظ التعديلات</button>
                </div>
            }
        </div>
    </div>
</div>
