@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Pages/Shared/_LoginLayout.cshtml";

}
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers

<link href="~/css/sweetalert/sweetalert.css" rel="stylesheet">
@using (Html.BeginForm("Login", "User", new { area = "" }, FormMethod.Post, true, new { @id = "LoginForm", @class = "col-lg-3 col-md-4 col-10 mx-auto text-center", @role = "form" }))
{
<a class="navbar-brand mx-auto mt-2 flex-fill text-center" href="#">
    @*<svg version="1.1" id="logo" class="navbar-brand-img brand-md" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 120 120" xml:space="preserve">
    <g>
    <polygon class="st0" points="78,105 15,105 24,87 87,87 	" />
    <polygon class="st0" points="96,69 33,69 42,51 105,51 	" />
    <polygon class="st0" points="78,33 15,33 24,15 87,15 	" />
              </g>
            </svg>*@
    <img id="logo" class="navbar-brand-img brand-md" src="~/logo/Group54387.svg" />
</a>
    <h1 class="h6 mb-3">تسجيل الدخول</h1>
    <div class="form-group">
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" name="email" id="email" class="form-control form-control-lg req" placeholder="البريد الالكترونى" required="" autofocus="">
    </div>
    <div class="form-group">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="password" id="password" class="form-control form-control-lg req" placeholder="كلمة المرور" required="">
    </div>

    <button class="btn btn-lg btn-primary btn-block" type="submit">دخول</button>
    <p class="mt-5 mb-3 text-muted"> <a asp-action="ForgetPassword" asp-controller="Forget">?Do you Forget Password</a></p>
    <p class="mt-5 mb-3 text-muted">© 2022 All Rights Reserved. By <a href="http://www.fairsolutions-fsc.com/" target="_blank">Fair-solutions</a></p>





}


@section Scripts {
    <!-- Sweet alert -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.min.js" integrity="sha384-qlmct0AOBiA2VPZkMY3+2WqkHtIQ9lSdAsAn5RUJD/3vA5MKDgSGcdmIv4ycVxyn" crossorigin="anonymous"></script>

    <script src="~/js/sweetalert/sweetalert.min.js"></script>
    <script src="~/js/cutompages/Login.js"></script>

}


